.container {
    width: 100%;
    padding: 5px 0;
}

.countercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    background-color: green;
}
.increment, .counter, .decrement {
    margin: 10px;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
}
button {
    padding: 20px;
    color: green;
    border-radius: 5px;
}

#app {
    background: rgb(163, 152, 145);
    width: 400px;
}